.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-header {
  width: 400px;
  margin-bottom: 20px;
}

.boards-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 30px;
}
