.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-header {
  border: 1px solid;
  width: 400px;
  margin-bottom: 20px;
}

.boards-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
