.task-box {
    border: 2px solid black;
    width: 100px;
    height: 100px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 8px;
}

.task-box-edit-button {
    font-size: 10px;
}

.task-box-done-button {
    font-size: 10px;
}